body{
    margin:0px;
    padding: 0;
}

ol,ul{
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main{
    position: relative;
    min-width: 320px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    min-height: 100vh;
    background: #ff5722;
}
.main::before{
    content: '';
    display: table;
    clear: both;
}
.lottery-box{
    width: 94%;
    margin:auto;
    height:auto;
    margin:20px auto;
    position: relative;
    background:#FFC107;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 4px #bf0c0c;
}
.lottery-content{
    position: relative;
    border-radius: 10px;
    background: #ff5722;
    box-shadow: 0 0 4px rgba(0,0,0,.4) inset;
}

.lottery-content>.lottery-item,.lottery-content>.btn-control{
    position: absolute;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.2);
    box-sizing: border-box;
    text-align: center;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 3;
    background: #fff;
}

.lottery-item.active{
    border: 1px solid #f9750b;
    background: #f9db07;
}

.lottery-content>.btn-control{
    background: linear-gradient(45deg,#f7a510,red);
    color: #fff;
    letter-spacing: 4px;
    font-weight: 800;
    text-indent: 4px;
    font-size: 24px;
    text-shadow: 0 0px 2px rgba(255,255,255,.5);
    border: 1px solid #fdb41180;
}

.light-content{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
    top: 0;
    left: 0;
}
.light-content>.light-item{
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 2px rgba(0,0,0,.8);
}

.light-content>.light-item-even{
    animation: colorEven 2s infinite;
}
.light-content>.light-item-odd{
    animation: colorOdd 2s infinite;
}

.lottery-box .prize-box{
    width: 100%;
    text-align: center;
}
.lottery-box .prize-box>.pic{
    width: 70%;
}
.lottery-box .prize-box>.text{
    margin:2px 0 0;
    font-size: 12px;
}


@keyframes colorEven{
    0%{background: #f9750b;}
    50%{background: #ffe60e;}
    100%{background: #f9750b;}
}

@keyframes colorOdd{
    0%{background: #ffe60e;}
    50%{background: #f9750b;}
    100%{background: #ffe60e;}
}